<!-- aici nu mai ai tot template u de html dora body u care il pui in base html -->
{% extends 'base.html'%}

{%block content%}
<p>HomePage content</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
   <p> Ut tortor pretium viverra suspendisse. Varius morbi enim nunc faucibus a. Habitasse platea dictumst quisque sagittis purus sit. </p>
   <p> Sed pulvinar proin gravida hendrerit lectus. Vitae auctor eu augue ut lectus. Orci nulla pellentesque dignissim enim sit.
<p>Quis risus sed vulputate odio ut enim blandit. Rhoncus urna neque viverra justo nec ultrices dui sapien. Malesuada pellentesque elit eget gravida cum sociis. Hac habitasse platea dictumst quisque sagittis purus sit amet.</p>
    <p>At in tellus integer feugiat scelerisque varius morbi enim nunc. Porta nibh venenatis cras sed. Leo vel orci porta non pulvinar. Condimentum lacinia quis vel eros donec ac odio. Risus nec feugiat in fermentum.</p>
{%endblock%}